In [140]:
import pandapower as pp
import pandapower.networks as pn
import numpy as np

In [141]:
net = pn.create_cigre_network_mv(with_der="all")

In [142]:
net

This pandapower network includes the following parameter tables:
   - bus (15 elements)
   - load (18 elements)
   - sgen (13 elements)
   - storage (2 elements)
   - switch (8 elements)
   - ext_grid (1 element)
   - line (15 elements)
   - trafo (2 elements)
   - bus_geodata (15 elements)

In [143]:
net.sgen # You only have to edit this table. Index 0-7 Solar. 8 Wind. 9-12 Diesel Generator and Fuel Cells (actions)

,name,bus,p_mw,q_mvar,sn_mva,scaling,in_service,type,current_source
0,PV 3,3,0.020,0.0,0.020,1.0,True,PV,True
1,PV 4,4,0.020,0.0,0.020,1.0,True,PV,True
2,PV 5,5,0.030,0.0,0.030,1.0,True,PV,True
3,PV 6,6,0.030,0.0,0.030,1.0,True,PV,True
4,PV 8,8,0.030,0.0,0.030,1.0,True,PV,True
5,PV 9,9,0.030,0.0,0.030,1.0,True,PV,True
6,PV 10,10,0.040,0.0,0.040,1.0,True,PV,True
7,PV 11,11,0.010,0.0,0.010,1.0,True,PV,True
8,WKA 7,7,1.500,0.0,1.500,1.0,True,WP,True
9,Residential fuel cell 1,5,0.033,0.0,0.033,1.0,True,Residential fuel cell,True
10,CHP diesel 1,9,0.310,0.0,0.310,1.0,True,CHP diesel,True
11,Fuel cell 1,9,0.212,0.0,0.212,1.0,True,Fuel cell,True
12,Residential fuel cell 2,10,0.014,0.0,0.014,1.0,True,Residential fuel cell,True

In [144]:
x = net.sgen['p_mw'][0:8]
y = [0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5]
z = x*y
z

0    0.010
1    0.010
2    0.015
3    0.015
4    0.015
5    0.015
6    0.020
7    0.005
Name: p_mw, dtype: float64

In [145]:
net.sgen['p_mw'][0:8] = z
net.sgen

,name,bus,p_mw,q_mvar,sn_mva,scaling,in_service,type,current_source
0,PV 3,3,0.010,0.0,0.020,1.0,True,PV,True
1,PV 4,4,0.010,0.0,0.020,1.0,True,PV,True
2,PV 5,5,0.015,0.0,0.030,1.0,True,PV,True
3,PV 6,6,0.015,0.0,0.030,1.0,True,PV,True
4,PV 8,8,0.015,0.0,0.030,1.0,True,PV,True
5,PV 9,9,0.015,0.0,0.030,1.0,True,PV,True
6,PV 10,10,0.020,0.0,0.040,1.0,True,PV,True
7,PV 11,11,0.005,0.0,0.010,1.0,True,PV,True
8,WKA 7,7,1.500,0.0,1.500,1.0,True,WP,True
9,Residential fuel cell 1,5,0.033,0.0,0.033,1.0,True,Residential fuel cell,True
10,CHP diesel 1,9,0.310,0.0,0.310,1.0,True,CHP diesel,True
11,Fuel cell 1,9,0.212,0.0,0.212,1.0,True,Fuel cell,True
12,Residential fuel cell 2,10,0.014,0.0,0.014,1.0,True,Residential fuel cell,True

In [146]:
# ESSs (Batteries) in the network. Will have to edit some values in columns.
net.storage

,name,bus,p_mw,q_mvar,sn_mva,soc_percent,min_e_mwh,max_e_mwh,scaling,in_service,type,min_p_mw,max_p_mw
0,Battery 1,5,0.6,0.0,0.2,NaN,0.0,NaN,1.0,True,Battery,-0.6,0.6
1,Battery 2,10,0.2,0.0,0.2,NaN,0.0,NaN,1.0,True,Battery,-0.2,0.2

In [147]:
# Line data !!!DON'T EDIT!!!
net.line

,name,std_type,from_bus,to_bus,length_km,r_ohm_per_km,x_ohm_per_km,c_nf_per_km,g_us_per_km,max_i_ka,df,parallel,type,in_service
0,Line 1-2,CABLE_CIGRE_MV,1,2,2.82,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
1,Line 2-3,CABLE_CIGRE_MV,2,3,4.42,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
2,Line 3-4,CABLE_CIGRE_MV,3,4,0.61,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
3,Line 4-5,CABLE_CIGRE_MV,4,5,0.56,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
4,Line 5-6,CABLE_CIGRE_MV,5,6,1.54,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
5,Line 7-8,CABLE_CIGRE_MV,7,8,1.67,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
6,Line 8-9,CABLE_CIGRE_MV,8,9,0.32,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
7,Line 9-10,CABLE_CIGRE_MV,9,10,0.77,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
8,Line 10-11,CABLE_CIGRE_MV,10,11,0.33,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
9,Line 3-8,CABLE_CIGRE_MV,3,8,1.30,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
10,Line 12-13,OHL_CIGRE_MV,12,13,4.89,0.510,0.366,10.09679,0.0,0.195,1.0,1,ol,True
11,Line 13-14,OHL_CIGRE_MV,13,14,2.99,0.510,0.366,10.09679,0.0,0.195,1.0,1,ol,True
12,Line 6-7,CABLE_CIGRE_MV,6,7,0.24,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
13,Line 11-4,CABLE_CIGRE_MV,11,4,0.49,0.501,0.716,151.17490,0.0,0.145,1.0,1,cs,True
14,Line 14-8,OHL_CIGRE_MV,14,8,2.00,0.510,0.366,10.09679,0.0,0.195,1.0,1,ol,True

In [148]:
pp.runpp(net)

In [149]:
net.switch

   bus  element et type  closed  name  z_ohm  in_ka
0    6       12  l  LBS    True  None    0.0    NaN
1    7       12  l  LBS   False    S2    0.0    NaN
2    4       13  l  LBS   False    S3    0.0    NaN
3   11       13  l  LBS    True  None    0.0    NaN
4    8       14  l  LBS   False    S1    0.0    NaN
5   14       14  l  LBS    True  None    0.0    NaN
6    0        0  t   CB    True  None    0.0    NaN
7    0        1  t   CB    True  None    0.0    NaN

In [150]:
net.res_bus

       vm_pu  va_degree       p_mw     q_mvar
0   1.030000   0.000000 -43.556907 -15.814687
1   0.993740  -6.144454  19.839000   4.637136
2   0.975967  -6.773442   0.000000   0.000000
3   0.947820  -7.784636   0.491700   0.208882
4   0.945562  -7.921882   0.421650   0.108182
5   0.943909  -8.025692   1.279500   0.182329
6   0.942465  -8.105385   0.533050   0.137354
7   0.948654  -7.465866  -1.423500   0.047410
8   0.945630  -7.742076   0.571850   0.147078
9   0.944829  -7.766764   0.036750   0.355578
10  0.943444  -7.844519   0.709300   0.161264
11  0.943257  -7.854967   0.324800   0.082656
12  1.000146  -5.487100  20.010000   4.693341
13  0.995326  -5.538237   0.034000   0.021071
14  0.992553  -5.567913   0.540050   0.257713

In [151]:
# Removing the unnecessary part of the network
net.switch["closed"][7] = False

In [152]:
net.switch

   bus  element et type  closed  name  z_ohm  in_ka
0    6       12  l  LBS    True  None    0.0    NaN
1    7       12  l  LBS   False    S2    0.0    NaN
2    4       13  l  LBS   False    S3    0.0    NaN
3   11       13  l  LBS    True  None    0.0    NaN
4    8       14  l  LBS   False    S1    0.0    NaN
5   14       14  l  LBS    True  None    0.0    NaN
6    0        0  t   CB    True  None    0.0    NaN
7    0        1  t   CB   False  None    0.0    NaN

In [153]:
pp.runpp(net)

In [154]:
net.res_bus

       vm_pu  va_degree       p_mw    q_mvar
0   1.030000   0.000000 -22.940241 -8.700044
1   0.993740  -6.144454  19.839000  4.637136
2   0.975967  -6.773442   0.000000  0.000000
3   0.947820  -7.784636   0.491700  0.208882
4   0.945562  -7.921882   0.421650  0.108182
5   0.943909  -8.025692   1.279500  0.182329
6   0.942465  -8.105385   0.533050  0.137354
7   0.948654  -7.465866  -1.423500  0.047410
8   0.945630  -7.742076   0.571850  0.147078
9   0.944829  -7.766764   0.036750  0.355578
10  0.943444  -7.844519   0.709300  0.161264
11  0.943257  -7.854967   0.324800  0.082656
12       NaN        NaN   0.000000  0.000000
13       NaN        NaN   0.000000  0.000000
14       NaN        NaN   0.000000  0.000000

In [155]:
net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type
0,Load R1,1,14.99400,3.044662,0.0,0.0,15.300,1.0,True,wye
1,Load R3,3,0.27645,0.069285,0.0,0.0,0.285,1.0,True,wye
2,Load R4,4,0.43165,0.108182,0.0,0.0,0.445,1.0,True,wye
3,Load R5,5,0.72750,0.182329,0.0,0.0,0.750,1.0,True,wye
4,Load R6,6,0.54805,0.137354,0.0,0.0,0.565,1.0,True,wye
5,Load R8,8,0.58685,0.147078,0.0,0.0,0.605,1.0,True,wye
6,Load R10,10,0.47530,0.119121,0.0,0.0,0.490,1.0,True,wye
7,Load R11,11,0.32980,0.082656,0.0,0.0,0.340,1.0,True,wye
8,Load R12,12,14.99400,3.044662,0.0,0.0,15.300,1.0,True,wye
9,Load R14,14,0.20855,0.052268,0.0,0.0,0.215,1.0,True,wye
10,Load CI1,1,4.84500,1.592474,0.0,0.0,5.100,1.0,True,wye
11,Load CI3,3,0.22525,0.139597,0.0,0.0,0.265,1.0,True,wye
12,Load CI7,7,0.07650,0.047410,0.0,0.0,0.090,1.0,True,wye
13,Load CI9,9,0.57375,0.355578,0.0,0.0,0.675,1.0,True,wye
14,Load CI10,10,0.06800,0.042143,0.0,0.0,0.080,1.0,True,wye
15,Load CI12,12,5.01600,1.648679,0.0,0.0,5.280,1.0,True,wye
16,Load CI13,13,0.03400,0.021071,0.0,0.0,0.040,1.0,True,wye
17,Load CI14,14,0.33150,0.205445,0.0,0.0,0.390,1.0,True,wye

In [156]:
net.load['sn_mva'][8:10] = [0, 0]
net.load['sn_mva'][15:18] = [0, 0, 0]
net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type
0,Load R1,1,14.99400,3.044662,0.0,0.0,15.300,1.0,True,wye
1,Load R3,3,0.27645,0.069285,0.0,0.0,0.285,1.0,True,wye
2,Load R4,4,0.43165,0.108182,0.0,0.0,0.445,1.0,True,wye
3,Load R5,5,0.72750,0.182329,0.0,0.0,0.750,1.0,True,wye
4,Load R6,6,0.54805,0.137354,0.0,0.0,0.565,1.0,True,wye
5,Load R8,8,0.58685,0.147078,0.0,0.0,0.605,1.0,True,wye
6,Load R10,10,0.47530,0.119121,0.0,0.0,0.490,1.0,True,wye
7,Load R11,11,0.32980,0.082656,0.0,0.0,0.340,1.0,True,wye
8,Load R12,12,14.99400,3.044662,0.0,0.0,0.000,1.0,True,wye
9,Load R14,14,0.20855,0.052268,0.0,0.0,0.000,1.0,True,wye
10,Load CI1,1,4.84500,1.592474,0.0,0.0,5.100,1.0,True,wye
11,Load CI3,3,0.22525,0.139597,0.0,0.0,0.265,1.0,True,wye
12,Load CI7,7,0.07650,0.047410,0.0,0.0,0.090,1.0,True,wye
13,Load CI9,9,0.57375,0.355578,0.0,0.0,0.675,1.0,True,wye
14,Load CI10,10,0.06800,0.042143,0.0,0.0,0.080,1.0,True,wye
15,Load CI12,12,5.01600,1.648679,0.0,0.0,0.000,1.0,True,wye
16,Load CI13,13,0.03400,0.021071,0.0,0.0,0.000,1.0,True,wye
17,Load CI14,14,0.33150,0.205445,0.0,0.0,0.000,1.0,True,wye

In [157]:
pp.runpp(net)
net.res_bus

       vm_pu  va_degree       p_mw    q_mvar
0   1.030000   0.000000 -22.940241 -8.700044
1   0.993740  -6.144454  19.839000  4.637136
2   0.975967  -6.773442   0.000000  0.000000
3   0.947820  -7.784636   0.491700  0.208882
4   0.945562  -7.921882   0.421650  0.108182
5   0.943909  -8.025692   1.279500  0.182329
6   0.942465  -8.105385   0.533050  0.137354
7   0.948654  -7.465866  -1.423500  0.047410
8   0.945630  -7.742076   0.571850  0.147078
9   0.944829  -7.766764   0.036750  0.355578
10  0.943444  -7.844519   0.709300  0.161264
11  0.943257  -7.854967   0.324800  0.082656
12       NaN        NaN   0.000000  0.000000
13       NaN        NaN   0.000000  0.000000
14       NaN        NaN   0.000000  0.000000

In [158]:
net.res_ext_grid

        p_mw    q_mvar
0  22.940241  8.700044

In [159]:
net.res_line

,p_from_mw,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka,i_ka,vm_from_pu,va_from_degree,vm_to_pu,va_to_degree,loading_percent
0,3.064928e+00,1.339429,-3.024656e+00,-1.333841e+00,4.027146e-02,0.005588,0.097165,9.777738e-02,0.097777,0.993740,-6.144454,0.975967,-6.773442,67.432674
1,3.024656e+00,1.333841,-2.960515e+00,-1.319880e+00,6.414165e-02,0.013961,0.097777,9.872276e-02,0.098723,0.975967,-6.773442,0.947820,-7.784636,68.084664
2,2.241908e+00,0.388923,-2.237501e+00,-3.930114e-01,4.406667e-03,-0.004088,0.069301,6.935551e-02,0.069356,0.947820,-7.784636,0.945562,-7.921882,47.831389
3,1.815851e+00,0.284830,-1.813198e+00,-2.905340e-01,2.652490e-03,-0.005704,0.056115,5.616029e-02,0.056160,0.945562,-7.921882,0.943909,-8.025692,38.731235
4,5.336985e-01,0.108205,-5.330500e-01,-1.333045e-01,6.484588e-04,-0.025099,0.016654,1.683001e-02,0.016830,0.943909,-8.025692,0.942465,-8.105385,11.606906
5,1.423500e+00,-0.047410,-1.418788e+00,2.568476e-02,4.712257e-03,-0.021726,0.043341,4.331881e-02,0.043341,0.948654,-7.465866,0.945630,-7.742076,29.890410
6,1.072777e+00,0.569920,-1.072114e+00,-5.744046e-01,6.628026e-04,-0.004484,0.037084,3.716161e-02,0.037162,0.945630,-7.742076,0.944829,-7.766764,25.628699
7,1.035364e+00,0.218826,-1.034151e+00,-2.301320e-01,1.212972e-03,-0.011306,0.032332,3.241699e-02,0.032417,0.944829,-7.766764,0.943444,-7.844519,22.356547
8,3.248514e-01,0.068868,-3.248000e-01,-7.437345e-02,5.138813e-05,-0.005505,0.010161,1.019747e-02,0.010197,0.943444,-7.844519,0.943257,-7.854967,7.032740
9,2.269070e-01,0.722074,-2.258394e-01,-7.426837e-01,1.067580e-03,-0.020609,0.023052,2.369715e-02,0.023697,0.947820,-7.784636,0.945630,-7.742076,16.342865
10,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1.387491e-09,-0.004050,1.060757e-13,-1.510705e-14,1.387597e-09,-0.004050,0.000124,3.281856e-15,0.000124,0.942465,-8.105385,0.942466,-8.105424,0.085548
13,1.182909e-08,-0.008282,-6.777093e-14,-9.890220e-14,1.182902e-08,-0.008282,0.000253,3.669227e-15,0.000253,0.943257,-7.854967,0.943261,-7.855131,0.174807
14,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
# powerfactor of each load
pf = np.cos(np.arctan(net.load['q_mvar']/net.load['p_mw']))
pf

0     0.98
1     0.97
2     0.97
3     0.97
4     0.97
5     0.97
6     0.97
7     0.97
8     0.98
9     0.97
10    0.95
11    0.85
12    0.85
13    0.85
14    0.85
15    0.95
16    0.85
17    0.85
dtype: float64

In [161]:
# Use these powerfactors for loads, when assigning P of loads.
pf_loads_forP = np.array([0.98, 0.97, 0.97, 0.97, 0.97, 0.97, 0.97, 0.97, 0.98, 0.97, 0.95, 0.85, 0.85, 0.85, 0.85, 0.85, 0.85, 0.85])
pf_loads_forP

array([0.98, 0.97, 0.97, 0.97, 0.97, 0.97, 0.97, 0.97, 0.98, 0.97, 0.95,
       0.85, 0.85, 0.85, 0.85, 0.85, 0.85, 0.85])

In [162]:
# Use these powerfactors for loads, when assigning Q of loads.
pf_loads_forQ = np.sin(np.arccos(pf_loads_forP))
pf_loads_forQ

array([0.19899749, 0.24310492, 0.24310492, 0.24310492, 0.24310492,
       0.24310492, 0.24310492, 0.24310492, 0.19899749, 0.24310492,
       0.3122499 , 0.52678269, 0.52678269, 0.52678269, 0.52678269,
       0.52678269, 0.52678269, 0.52678269])

In [163]:
# Transformer info
net.trafo

,name,std_type,hv_bus,lv_bus,sn_mva,vn_hv_kv,vn_lv_kv,vk_percent,vkr_percent,pfe_kw,i0_percent,shift_degree,tap_side,tap_neutral,tap_min,tap_max,tap_step_percent,tap_step_degree,tap_pos,tap_phase_shifter,parallel,df,in_service
0,Trafo 0-1,None,0,1,25.0,110.0,20.0,12.00107,0.16,0.0,0.0,30.0,None,NaN,NaN,NaN,NaN,NaN,NaN,False,1,1.0,True
1,Trafo 0-12,None,0,12,25.0,110.0,20.0,12.00107,0.16,0.0,0.0,30.0,None,NaN,NaN,NaN,NaN,NaN,NaN,False,1,1.0,True

In [164]:
pf_loads_forP*net.load['sn_mva']

0     14.99400
1      0.27645
2      0.43165
3      0.72750
4      0.54805
5      0.58685
6      0.47530
7      0.32980
8      0.00000
9      0.00000
10     4.84500
11     0.22525
12     0.07650
13     0.57375
14     0.06800
15     0.00000
16     0.00000
17     0.00000
Name: sn_mva, dtype: float64

In [165]:
net.ext_grid

,name,bus,vm_pu,va_degree,slack_weight,in_service,s_sc_max_mva,s_sc_min_mva,rx_min,rx_max
0,None,0,1.03,0.0,1.0,True,5000.0,5000.0,0.1,0.1

In [166]:
net.trafo

,name,std_type,hv_bus,lv_bus,sn_mva,vn_hv_kv,vn_lv_kv,vk_percent,vkr_percent,pfe_kw,i0_percent,shift_degree,tap_side,tap_neutral,tap_min,tap_max,tap_step_percent,tap_step_degree,tap_pos,tap_phase_shifter,parallel,df,in_service
0,Trafo 0-1,None,0,1,25.0,110.0,20.0,12.00107,0.16,0.0,0.0,30.0,None,NaN,NaN,NaN,NaN,NaN,NaN,False,1,1.0,True
1,Trafo 0-12,None,0,12,25.0,110.0,20.0,12.00107,0.16,0.0,0.0,30.0,None,NaN,NaN,NaN,NaN,NaN,NaN,False,1,1.0,True

In [167]:
1-np.array([4,3,5])

array([-3, -2, -4])